{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!-- Services Section Start -->
    {% include '_parts/services_area.html' %}
    <!-- Services Section End -->

    <!-- About Section start -->
    {% include '_parts/about_area.html' %}
    <!-- About Section End -->

    <!-- Features Section Start -->
    {% include '_parts/features_area.html' %}
    <!-- Features Section End -->

    <!-- Team Section Start -->
    {% include '_parts/team_area.html' %}
    <!-- Team Section End -->

    <!-- Pricing section Start -->
    {% include '_parts/princing_area.html' %}
    <!-- Pricing Table Section End -->

    <!-- Testimonial Section Start -->
    {% include '_parts/testimonial_area.html' %}
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
    {% include '_parts/cta_area.html' %}
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
    {% include '_parts/contact_area.html' %}
    <!-- Contact Section End -->

{% endblock %}
