{% load django_bootstrap5 %}
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    {% bootstrap_css %}
    <style>
        .b-example-divider {
            height: .5rem;
            background-color: #fff;
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
    </style>
</head>

<body>
<main>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Produtos</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
            </ul>
        </header>
    </div>
    <div class="b-example-divider"></div>

    <div class="container">
        <h1>Contact</h1>

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <form class="form" action="{% url 'contact' %}" method="POST" autocomplete="off">
            {% csrf_token %}

            {% bootstrap_form form %}


            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        </form>
    </div>

    {% bootstrap_javascript %}
</main>
</body>
</html>
